.ListaOculta {
    display:none !important;
}

.ListaMuestra { 
    display: block;
}

.elemento {
    text-align: center;
    content: inherit;
    width: 100%;
    padding: 5px;
    background-color:transparent;
    display: block;
    font-size: 15px;
    padding: 10px;
    text-shadow: none;
    border-radius: 15px;
    border-color:transparent;

}

.elemento:hover {
    background-color:#8FA2C6;
    
}

ul{
    background-color: #C3C7EA;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}